body{
font-family: Arial;
background-color:#f5f7fb;
text-align:center;
padding:40px;
}

h1{
color:#6a5acd;
}

select{
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
font-size:16px;
background-color:#6a5acd;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background-color:#5848c2;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:10px;
padding:10px;
border-radius:5px;
}
